* {
  box-sizing: border-box;
}

dl,
ol,
p,
ul {
  margin: 0;
}

.is-disabled {
  pointer-events: none;
  cursor: none;
}

body {
  overflow-x: hidden;
  width: 100%;
  font-family: "muli";
  // font-family: $fnt-roboto;
  // color: $b;
}
