main {
  // opacity: 0;
  // display: none;
  transition: opacity 0.4s ease;

  @media (max-width: 767px) {
    // overflow-x: hidden;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  letter-spacing: 0.5px;
  // opacity: 0;

  &.is-loaded {
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
  }
  p {
    @extend .fnt-md;
  }
}

ul,
ol {
  list-style-type: none;
}

// @media (min-width: 1200px)
//   .container {
//       max-width: 1140px;
//   }
// }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.icon-arrow-angle-right,
.icon-right-arrow-angle {
  position: relative;
  top: 1px;
  font-size: 10px;
  display: inline-flex;
  color: $b;
  margin-left: 0.8rem;
  &--wht {
    color: $w !important;
  }
  &--suc {
    color: $secondary !important;
  }
}
