.ui.dropdown {
  cursor: pointer;

  .dropdown.icon {
    @include bp(tab) {
      // top: 1.2rem !important;
    }

    &::before {
      content: url("../assets/icons/select-arrow.svg");
    }

    @media (min-width: 1280px) {
      top: 5px !important;
    }
  }
}

.ui.action.input input[type="file"] {
  display: none;
}

.ui.label {
  cursor: pointer;
  border-radius: 4px;

  .delete.icon {
    margin-left: 5px;
  }
}

.ui.search {
  cursor: pointer !important;
}

.ui.selection.active.dropdown {
  border-color: #d7d8d9;

  &:hover {
    border-color: #d7d8d9;
  }
}

.ui.selection.active.dropdown .menu {
  border-color: #d7d8d9;

  &:hover {
    border-color: #d7d8d9;
  }
}

.ui.selection {
  .delete.icon {
    width: 9px;

    &::before {
      content: url(/assets/img/partner/country-close.svg);
    }
  }
}

.contact-form {
  .ui {
    label.error {
      bottom: -26px !important;
      left: 0 !important;
    }
  }
}

.ui.selection.dropdown {
  background: transparent;
  color: $b08;
  padding: 0.47rem 0.75rem;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  height: 45px;
  border: none;
  border-bottom: 1px solid #888888;
  border-radius: 0;
  padding-left: 0;

  &:hover,
  &:focus {
    border-bottom: 2px solid $orangeLight;
  }
}

.ui.action.input {
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  font-family: $fnt-montserrat;
  background: $w;
  margin: 0 0 24px 0;
  padding: 10px;
  cursor: pointer;
  width: 100%;

  @media (min-width: 768px) {
    margin: 0 0 18px 0;
    padding: 10px 10px;
    width: 64%;
  }

  @media (min-width: 1366px) {
    width: 50%;
  }

  .form-control,
  .form-control:hover,
  .form-control:focus {
    padding-left: 2px;
    border-bottom: none !important;
    cursor: pointer;

    @include bp("desktop-1366") {
      padding-left: 20px;
    }
  }

  // .ui.icon.button {
  //   position: absolute;
  //   top     : 20%;

  //   i.icon.attach:before {
  //     content: url(/assets/icons/file.png);
  //   }
  // }
}

.ui.selection.active.dropdown:hover {
  box-shadow: none;
}

.ui.shape {
  perspective: none;
  z-index: 1;
  position: relative;
}

.text {
  color: $b;
}
