.vm-filter {
  &__header {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 1rem;
  }
  &__heading {
    font-size: 20px;
    line-height: 30px;
  }
}

.dot-red {
  display: none;
  width: 5px;
  height: 5px;
  background: red;
  position: absolute;
  border-radius: 50%;
}

.extra-content-link {
  img {
    transform: rotate(90deg);
  }
}

.extra-content-wrp {
  display: none;
  &.show{
    display: flex !important  ;
  }
}