.vm-filter {
  &__header {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 1rem;
  }
  &__heading {
    font-size: 20px;
    line-height: 30px;
  }
}

.dot-red {
  display: none;
  width: 5px;
  height: 5px;
  background:  #ff685c;
  position: absolute;
  border-radius: 50%;
  top: 10px;
  right: -4px;
}

.extra-content-link {
  border-radius: 10px;
  display: inline-block;
  margin-right: 0.5rem;
  border: 1px solid #e0e0e0;
  background: #ffffff;
  color: #000000;
  padding: 0.25rem .8rem;
  cursor: pointer;
  img {
    // transform: rotate(90deg);
  }
}
.parsley-required ,.parsley-type{
  color: #ff685c;
}
.extra-content-wrp {
  display: none;
  transition: .5s ease all;
  transform: translateY(30px);
  
  &.show{
 
    transform: translateY(0);
    display: flex !important  ;
    flex-wrap: wrap;
    transition: .6s ease all;
  }
}

.filtr-container {
  .vm-thumbnail {
    margin-bottom: 24px;
    
    @media screen and (min-width:768px){
      
      margin-bottom: 48px;
    }
    @media screen and (min-width:1024px){
      margin-bottom: 64px;
      
    }
  }

  .vm-thumbnail__heading {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 43px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .vm-thumbnail__body {
    height: 224px;
  }
}