.vm-thumbnail-heading {
  font-size: 24px;
  line-height: 34px;

  @media (min-width: $md) {
    font-size: 34px;
    line-height: 44px;
  }
  @media (min-width: $lg) {
    font-size: 40px;
    line-height: 48px;
  }
}

.img546x576 {
  width: 546px;
  height: 386px;
  max-width: 100%;
  object-fit: cover;
  @media (min-width: $md) {
    width: 546px;
    height: 500px;
  }
  @media (min-width: $lg) {
    height: 576px;
  }
}

.img546x155 {
  width: 546px;
  max-width: 100%;
  height: auto;
  object-fit: cover;

  @media (min-width: $md) {
    height: 100px;
  }
  @media (min-width: $lg) {
    height: 155px;
  }
}

//card patch

.vm-patch-categ {
  position: absolute;
  top: 1rem;
  font-size: 16px;
  color: $w;
  background: $text-secondary;
  padding: 0.3rem 1rem;
  left: 1rem;
  @media (min-width: $md) {
    padding: 0.3rem 1.2rem;
    font-size: 18px;
  }
  @media (min-width: $lg) {
    font-size: 20px;
  }
  &--right {
    right: 1rem;
    left: inherit;
  }
}
