.col-md-6.col-lg-4.content.mb3.pt-0
    include filter-cardsmix.pug
    +filterCards("Case study", "API Integration", "Preparing for Digital Platform Implementation!", "./assets/img/white-papers-listing/listing2.png", "Thumbnail image")

.col-md-6.col-lg-4.content.mb3.pt-0
    +filterCards("Case study", "API Integration", "Preparing for Digital Platform Implementation! Preparing Preparing", "./assets/img/white-papers-listing/listing3.png", "Thumbnail image")

.col-md-6.col-lg-4.content.mb3.pt-0
    +filterCards("Case study", "API Integration", "Preparing for Digital Platform Implementation! Preparing Preparing", "./assets/img/white-papers-listing/listing4.png", "Thumbnail image")

.col-md-6.col-lg-4.content.mb3.pt-0
    +filterCards("Case study", "API Integration", "Preparing for Digital Platform Implementation! Preparing Preparing", "./assets/img/white-papers-listing/listing1.png", "Thumbnail image")

.col-md-6.col-lg-4.content.mb3.pt-0
    +filterCards("Case study", "API Integration", "Preparing for Digital Platform Implementation! Preparing Preparing", "./assets/img/white-papers-listing/listing2.png", "Thumbnail image")

.col-md-6.col-lg-4.content.mb3.pt-0
    +filterCards("Case study", "API Integration", "Preparing for Digital Platform Implementation! Preparing Preparing", "./assets/img/white-papers-listing/listing4.png", "Thumbnail image")

.col-md-6.col-lg-4.content.mb3.pt-0
    +filterCards("Case study", "API Integration", "Preparing for Digital Platform Implementation! Preparing Preparing", "./assets/img/white-papers-listing/listing3.png", "Thumbnail image")

.col-md-6.col-lg-4.content.mb3.pt-0
    +filterCards("Case study", "API Integration", "Preparing for Digital Platform Implementation! Preparing Preparing", "./assets/img/white-papers-listing/listing2.png", "Thumbnail image")

.col-md-6.col-lg-4.content.mb3.pt-0
    +filterCards("Case study", "API Integration", "Preparing for Digital Platform Implementation! Preparing Preparing", "./assets/img/white-papers-listing/listing1.png", "Thumbnail image")