section.py-md-5
    .container
        .row
            .col-md-4
                include cards-mixin.pug
                +whitepaperCards("./assets/img/white-papers-listing/listing1.png", "Thumbnail image", "Whitepaper", "API Integration", "Commercial Online Banking:", "ValueMomentum’s IT services for Life and Annuities carriers are tailored to rapidly roll out products;", "Released", "02 November 2018")
            
            .col-md-4
                +whitepaperCards("./assets/img/white-papers-listing/listing1.png", "Thumbnail image", "Whitepaper", "API Integration", "Commercial Online Banking:", "ValueMomentum’s IT services for Life and Annuities carriers are tailored to rapidly roll out products;", "Released", "02 November 2018")
            
            .col-md-4
                +whitepaperCards("./assets/img/white-papers-listing/listing1.png", "Thumbnail image", "Whitepaper", "API Integration", "Commercial Online Banking:", "ValueMomentum’s IT services for Life and Annuities carriers are tailored to rapidly roll out products;", "Released", "02 November 2018")
            
            .col-md-4
                +whitepaperCards("./assets/img/white-papers-listing/listing1.png", "Thumbnail image", "Whitepaper", "API Integration", "Commercial Online Banking:", "ValueMomentum’s IT services for Life and Annuities carriers are tailored to rapidly roll out products;", "Released", "02 November 2018")