section
    .container
        .row
            .col
                h1.h1.fnt-bold Resources
        
        .row.pt-4.pt-md-5
            .col-md-6
                .vm-thumbnail.pt-0.mb-3.mb-md-0
                    .vm-thumbnail__view
                        img.img546x576(src="./assets/img/resources/resource-card.png" alt="resources card")
                        .vm-patch-categ Latest case study⚡
                    .vm-overlay
                    
                    // absolute content
                    .vm-cardimg-body.vm-cardimg-body--lg
                        a.text-white(href="javascript:void(0);")
                            span.vm-categ-patch.mb-2 API Integration
                            h3.vm-thumbnail-heading.mb-3 API enablement: Tips, tools and best practices to get you there:
                        a.vm-hero-link.fnt-sm(href="javascript:void(0);")
                            | View case study
                            span.vm-circle.flex-center.ml-3
                                img(src="./assets/img/white-papers-listing/arrow.svg" alt="Arrow")

            .col-md-6
                // card1
                a(href="javascript:void(0);").vm-thumbnail.vm-thumbnail--sm.pt-0.mb-3.mb-md-4
                    .vm-thumbnail__view
                        img.img546x155(src="./assets/img/resources/webinar.png" alt="Webinar")
                        .vm-patch-categ.vm-patch-categ--right  Latest Whitepaper
                    .vm-thumbnail__body
                        .vm-cate-list
                            .vm-cate-list__item Artificial Intelligence
                        h6.vm-thumbnail__heading This AI can predit your credit score upto 80% according to new reports from the ne…
                
                // card2
                a(href="javascript:void(0);").vm-thumbnail.vm-thumbnail--sm.pt-0
                    .vm-thumbnail__view
                        img.img546x155(src="./assets/img/resources/webinar.png" alt="Webinar")
                        .vm-patch-categ.vm-patch-categ--right Latest Webinar
                    .vm-thumbnail__body
                        .vm-cate-list
                            .vm-cate-list__item Artificial Intelligence
                        h6.vm-thumbnail__heading This AI can predit your credit score upto