section.section-padding10.pt-0
    .container
        .row
            .col-12.d-flex.justify-content-between.mb-4.pb-md-3
               +linkcateg("Analyst Report")
        
        .row
            .col-md-4
                +whitepaperCards("./assets/img/white-papers-listing/listing2.png", "whitepapers", "Banking", "Technology", "New banking technology allows you to track detail Preparing for Digital Platform", "Published", "12 April 2019")
            .col-md-4
                +whitepaperCards("./assets/img/white-papers-listing/listing3.png", "whitepapers", "Banking", "Technology", "API enablement: Tips, tools and best practices to get you started!", "Published", "12 April 2019")
            .col-md-4
                +whitepaperCards("./assets/img/white-papers-listing/listing4.png", "whitepapers", "Banking", "Technology", "New banking technology allows you to track detail Preparing for Digital Platform", "Published", "12 April 2019")