// Banner cards
include 01banner-cards.pug

// Upcoming webinar
include 02upcoming-webinar.pug

// white papers
include 03white-papers.pug

// Case-studies
include 04case-studies.pug

// Ondemand webinar
include 05ondemand-webinar.pug

// analyst
include 06analyst-report.pug
