footer.footer.bg-pri
    .container
        .row
            .col-md-4
                .footer__content
                    h4.hero-title.mb-3 About
                    p.footer__des ValueMomentum provides software and services to Insurance, Healthcare & Financial Services firms. We help increase returns from your core IT investments.

            .col-md-4.col-lg-3.offset-lg-1
                ul.footer-navlist
                    li
                        a.footer-link(href="javascript:void(0);") About
                    li
                        a.footer-link(href="javascript:void(0);") Insights
                    li
                        a.footer-link(href="javascript:void(0);") Services
                    li
                        a.footer-link(href="javascript:void(0);") Industries
                    li
                        a.footer-link(href="javascript:void(0);") Contact Us


            .col-md-4
                h4.hero-title.mb-3 Stay Connected
                form.vm-subscribe-form
                    input.vm-subscribe-input.form-control(type="text" placeholder="Please enter your email ID")
                    button.vm-btn.vm-btn--primary.mt-3 SUBSCRIBE