header.header-top.transparent
    nav.main-navbar(role='navigation')
        .container
            .nav-header
                a.nav-logo(href='index.html')
                    img.nav-logo__img.logo(src='./assets/img//brand-logo.png' alt='brand logo')
                
                .navbar-wrapper
                    div(class="hamb-overlay")
                    ul.navbar-list
                        li.navbar-list__item
                            a.nav-link(href='javascript.html') COVIS-19 Response
                        li.navbar-list__item
                            a.nav-link(href='job-listing.html') Resources
                        li.navbar-list__item
                            a.nav-link(href='faq.html') About
                        li.navbar-list__item
                            a.nav-link(href='javascript(0);') Blog
                        li.navbar-list__item
                            a.nav-link(href='contact-us.html') Careers

                        li.navbar-list__item
                            a.nav-link(href='contact-us.html') News
                        li.navbar-list__item
                            a.nav-link(href='contact-us.html') Events
                
                    // HAMBURGHER MENU
                    .nav-toggle
                        .nav-toggle-bar
