doctype html
html(lang="en" dir="ltr")
  include ./base/head.pug
  +head('Valuemomentum - Case studies')

  //- //Orientation
  //- include ./components/orientation-modal.pug
  
  body
    //- include ./components/header.pug
    //- +header("bg-blue-header")
    
    main.pt8.js-resourceslider
      include ./layouts/case-studies/main.pug

      // More resources  
      include ./components/more-resources.pug

    include ./components/footer.pug