doctype html
html(lang="en" dir="ltr")
  include ./base/head.pug
  +head('Valuemomentum - Case Studies Details')

  //- //Orientation
  //- include ./components/orientation-modal.pug
  
  body
    include ./components/header.pug
    //- +header("bg-blue-header")
    
    main.js-resourceslider.js-casestudy-details
      include ./layouts/case-studies-detail/main.pug

      // More resources  
      include ./components/more-resources.pug

    include ./components/footer.pug