doctype html
html(lang="en" dir="ltr")
  include ./base/head.pug
  +head('Valuemomentum - Home')

  //- //Orientation
  //- include ./components/orientation-modal.pug
  
  body
    include ./components/header.pug
    //- +header("bg-blue-header")
    
    main.js-resourceslider

      include ./layouts/white-papers/main.pug

      // More resources  
      include ./components/more-resources.pug

    include ./components/footer.pug

    