doctype html
html(lang="en" dir="ltr")
  include ./base/head.pug
  +head('Valuemomentum - Home')

  //- //Orientation
  //- include ./components/orientation-modal.pug
  
  body
    include ./components/header.pug
    //- +header("bg-blue-header")
    
    main
      include ./layouts/index/main.pug

    include ./components/footer.pug

    