doctype html
html(lang="en" dir="ltr")
  include ./base/head.pug
  +head('Valuemomentum - Webinar')

  //- //Orientation
  //- include ./components/orientation-modal.pug
  
  body
    //- include ./components/header.pug
    //- +header("bg-blue-header")
    
    main.pt8
      include ./layouts/resource/main.pug

       // Read more  
      include ./components/read-more.pug


    include ./components/footer.pug

    
