doctype html
html(lang="en" dir="ltr")
  include ./base/head.pug
  +head('Valuemomentum - Webinar')

  //- //Orientation
  //- include ./components/orientation-modal.pug
  
  body
    include ./components/header.pug
    //- +header("bg-blue-header")
    
    main
      include ./layouts/webinar/main.pug

      // More resources  
      include ./components/more-resources.pug

    include ./components/footer.pug
