section.vm-article.specific-tags
    .container
        .row
            .col-12
                h3.specific-tags__head Search results for: Digital & cloud
        .row
            .col-md-7
                .search-result-wrp
                    .search-result
                        .search-result__item
                            .search-result__img
                                img.img-fluid(src="./assets/img/search-img.png", alt="")
                            .search-result__info
                                span.gry-12 Whitepaper 
                                h6.search-result__head Preparing for Digital Platform Implementation
                                .search-result__footer.blck-12
                                    span Published
                                    span.search-result__date 12 April 2019
                    .search-result
                        .search-result__item
                            .search-result__img
                                img.img-fluid(src="./assets/img/search-img2.png", alt="")
                            .search-result__info
                                span.gry-12 Whitepaper 
                                h6.search-result__head Preparing for Digital Platform Implementation
                                .search-result__footer.blck-12
                                    span Published
                                    span.search-result__date 12 April 2019
                    .search-result
                        .search-result__item.mt-0
                            .search-result__info
                                span.gry-12 Case Study
                                h6.search-result__head Preparing for Digital Platform and the awesome future, API enablement: Tips, tools and best practices 
                                p.search-result__des ValueMomentum’s IT services for Life and Annuities carriers are tailored to rapidly roll out products; ValueMomentum’s IT services for Life and Annuities carriers.
                                a.search-result__link.fnt-sm(href="javascript:void(0);")
                                    | View Case Study
                                    i.icon-right-arrow-angle.icon-right-arrow-angle--wht
                    .search-result
                        .search-result__item
                            .search-result__img
                                img.img-fluid(src="./assets/img/search-img03.png", alt="")
                            .search-result__info
                                span.gry-12 Webinars
                                h6.search-result__head New banking technology allows you to track detail Preparing for Digital Platform
                                .search-result__footer.blck-12
                                    a.search-result__link.fnt-sm(href="javascript:void(0);")
                                        | Watch now
                                        i.icon-right-arrow-angle.icon-right-arrow-angle--wht
                    .search-result
                        .search-result__item
                            .search-result__img
                                img.img-fluid(src="./assets/img/search-img04.png", alt="")
                            .search-result__info
                                span.gry-12 Analyst Report
                                h6.search-result__head Preparing for Digital Platform Implementation
                                .search-result__footer.blck-12
                                    span Published
                                    span.search-result__date 12 April 2019
                    .search-result
                        .search-result__item.mt-0
                            .search-result__info
                                span.gry-12 Case Study
                                h6.search-result__head Preparing for Digital Platform and the awesome future, API enablement: Tips, tools and best practices 
                                p.search-result__des ValueMomentum’s IT services for Life and Annuities carriers are tailored to rapidly roll out products; ValueMomentum’s IT services for Life and Annuities carriers.
                                a.search-result__link.fnt-sm(href="javascript:void(0);")
                                    | View Case Study
                                    i.icon-right-arrow-angle.icon-right-arrow-angle--wht
                    .search-result
                        .search-result__item.mt-0
                            .search-result__info
                                span.gry-12 Case Study
                                h6.search-result__head New banking technology allows you to track detail Preparing for Digital Platform
                                p.search-result__des ValueMomentum’s IT services for Life and Annuities carriers are tailored to rapidly roll out products; ValueMomentum’s IT services for Life and Annuities carriers.
                                a.search-result__link.fnt-sm(href="javascript:void(0);")
                                    | View Case Study
                                    i.icon-right-arrow-angle.icon-right-arrow-angle--wht
              
                    .search-result
                        .search-result__item
                            .search-result__img
                                img.img-fluid(src="./assets/img/search-img.png", alt="")
                            .search-result__info
                                span.gry-12 Whitepaper 
                                h6.search-result__head Preparing for Digital Platform Implementation
                                .search-result__footer.blck-12
                                    span Published
                                    span.search-result__date 12 April 2019
                    .search-result
                        .search-result__item
                            .search-result__img
                                img.img-fluid(src="./assets/img/search-img2.png", alt="")
                            .search-result__info
                                span.gry-12 Whitepaper 
                                h6.search-result__head Preparing for Digital Platform Implementation
                                .search-result__footer.blck-12
                                    span Published
                                    span.search-result__date 12 April 2019

            aside.col-md-5
                include 03snapshot.pug
