include combined-mix.pug
.sc-container
    
    .vm-side-sticky.vm-side-sticky--lg.scroll-wrp
        h4.side-sticky-head Upcoming Webinars
        
        //- .vm-side-sticky__categ
        //-     +futureSpeakers("./assets/img/webinar-details/speaker2.jpg", "sepaker", "Pratik Dasmohapatra", "Head of Digital & Cloud at value momentum")

        //- .vm-side-sticky__categ
        //-     h6.vm-side-sticky__heading Recommendations
        //-     +mediaArticle("./assets/img/whitepaper-details/article-1.png", "article image", "Cloud Readiness in Insurance: Choosing the Right Assessment", "August 23, 2020")
        //-     +mediaArticle("./assets/img/whitepaper-details/article-2.png", "article image", "Cloud Readiness in Insurance: Choosing the Right Assessment", "August 23, 2020")
        //-     +mediaArticle("./assets/img/whitepaper-details/article-1.png", "article image", "Cloud Readiness in Insurance: Choosing the Right Assessment", "August 23, 2020")
                
        .vm-side-sticky__categ
            +upComing("Digital & Cloud", "API enablement: Tips, tools and best practices to get you.", "August 19, 11:30 AM, IST +5:30")

        