.vm-thumbnail {
  position: relative;
  @media (min-width: $md) {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: {
      top: 1.2rem;
    }
  }

  &__body {
    background: #f9f9f9;
    padding: 1.2rem;
    @media (min-width: $md) {
      height: 100%;
    }
  }

  &__heading {
    font-size: 18px;
    line-height: 28px;
    font-family: "muli-Bold";
    letter-spacing: 0;
    @media (min-width: $lg) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  &__des {
    @extend .fnt-sm;
    color: $card-des;
    letter-spacing: 0.23px;
    margin-bottom: 0.8rem;
  }
  // Cards reverse
  &--revrse {
    cursor: pointer;

    .vm-hero-link {
      color: $b;
      margin-top: 1rem;
    }
    .vm-thumbnail__body {
      display: flex;
      flex-direction: column;
    }
    .vm-thumbnail__heading {
      flex: 1 1 auto;
    }
  }

  transition: all ease 0.6s;
  &:hover,
  &:focus {
    box-shadow: -4px 10px 15px #e9e9e9;
    transition: all ease 0.6s;
    .vm-thumbnail__body {
      transition: all ease 0.6s;
      background: $w;
    }
    .vm-hover-cnt {
      transform: translateY(0%);
    }
  }

  // Thumbnail hover effect

  &--lg {
    cursor: pointer;
    transition: all ease 0.6s;

    &:hover {
      transition: all ease 0.6s;
      transform: translateY(-3%);
      .vm-hover-details {
        opacity: 1;
        transition: all ease 0.6s;
      }
      // .vm-hover-cnt {
      //   transition: all ease 0.6s;
      //   transform: translateY(0%);
      // }
    }
  }

  &--sm {
    @media (min-width: $md) {
      height: auto !important;
    }
    @media (min-width: $lg) {
      max-height: 100%;
      height: 283px !important;
    }
  }
}

.vm-ar-publish-info {
  span {
    display: inline-block;
    position: relative;
    &:first-child {
      padding-right: 0.8rem;
      margin-right: 0.8rem;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: -2px;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background: $card-des;
        transform: translateY(-50%);
      }
    }
  }
}

.vm-flex-btm {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

// Image cards

.vm-cardimg-body {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  color: $w;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 1.2rem 1.2rem;
  @media (min-width: $md) {
    padding: 1.2rem 1.5rem;
  }

  &--lg {
    padding: {
      bottom: 2rem;
      left: 1.4rem;
      right: 1.4rem;
    }
    @media (min-width: $lg) {
      padding: {
        bottom: 3rem;
        left: 2rem;
        right: 2rem;
      }
    }
  }

  &--space {
    padding : {
      left: 1.2rem;
      right: 1.2rem;
      bottom: 2rem;
    }
    @media (min-width: $lg) {
      padding : {
        left: 1.8rem;
        right: 1.8rem;
      }
    }
  }

  .vm-hero-link {
    display: flex;
    align-items: center;
  }
}

.vm-hover-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: $text-secondary;
  box-shadow: -4px 10px 34px rgba(255, 104, 92, 0.37);
  opacity: 0;
  transition: all ease 0.6s;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 1.2rem 2rem 1.2rem;
  color: $w;
  @media (min-width: $lg) {
    padding: 0 1.8rem 2rem 1.8rem;
  }
  .vm-categ-patch {
    background: $w;
    color: $text-secondary;
    @media (max-width: $tab) {
      margin-bottom: 0.4rem;
    }
  }
}

// .vm-hover-cnt {
//   transform: translateY(12%);
//   transition: all ease 0.6s;
// }

.filter-tabs {
  cursor: pointer;
  background: $w;
  color: #000000;
  padding: 0.25rem 1.2rem;
  display: inline-block;
  border-radius: 18px;
  margin-right: 0.2rem;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  letter-spacing: 0.7px;
  @extend .fnt-xs;
  margin-bottom: 0.4rem;

  @media (min-width: $md) {
    margin-right: 0.6rem;
  }

  &.active {
    border: 1px solid $tag-clr;
    background: $tag-clr;
    color: $w;
  }
}

// Case-study cards

.vm-horiz-card {
  cursor: pointer;
  transition: all ease 0.6s;
  margin-bottom: 2rem;

  @media (min-width: $md) {
    display: flex;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__heading {
    font-family: "muli-SemiBold" !important;
    margin: 0.6rem 0;
    @media (min-width: $md) {
      margin: 1.2rem 0;
    }
  }

  &__body {
    background: #f9f9f9;
    transition: all ease 0.6s;
    padding: {
      left: 1.2rem;
      right: 1.2rem;
      top: 1rem;
      bottom: 1rem;
    }
    @media (min-width: $md) {
      padding: {
        left: 2rem;
        right: 2rem;
        top: 1.5rem;
        bottom: 1.5rem;
      }
    }
  }
  &__des {
    color: $card-des;
    margin-bottom: 1.2rem;
    @media (min-width: $md) {
      margin-bottom: 2rem;
    }
  }

  &:hover,
  &:focus {
    box-shadow: -4px 10px 15px #e9e9e9;
    transition: all ease 0.6s;
    .vm-horiz-card__body {
      transition: all ease 0.6s;
      background: $w;
    }
  }
  .vm-hero-link {
    color: $b !important;
  }
}
