.vm-form-panel {
  background: $w;
  border-radius: 3px;
  padding: 1.5rem;
  @media (min-width: $md) {
    box-shadow: 0 3px 18px rgba(218, 218, 218, 0.5);
  }
  .vm-btn {
    width: 100%;
  }
}

.vm-label {
  @extend .fnt-xs;
  color: $label-clr;
}

.vm-input {
  background: #f4f4f4;
  border: 1px solid transparent;
  @extend .fnt-sm;
  padding: 0.6rem 1rem;
  &:focus {
    background: #f4f4f4;
    box-shadow: none;
    border: 1px solid $danger;
  }
}
