.img-fluid {
  max-width: 100%;
}

.img354x250 {
  width: 354px;
  height: 180px;

  @media (min-width: $md) {
    height: 220px;
  }
  @media (min-width: $lg) {
    height: 250px;
  }
}

.img354x453 {
  width: 354px;
  height: 350px;
  @media (min-width: $md) {
    height: 400px;
  }
  @media (min-width: $lg) {
    height: 453px;
  }
}

.img-fit {
  max-width: 100%;
  object-fit: cover;
  @media (max-width: $tab) {
    width: 100%;
  }
}

.img546x602 {
  @media (min-width: $md) {
    height: 500px;
    width: 602px;
  }
  @media (min-width: $lg) {
    width: 546px;
    height: 602px;
  }
}

.vm-overlay {
  background-image: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
