section.vm-banner-mb.js-modal-popup
    .vm-banner.text-center
        img.img-fluid(src="./assets/img/case-studies-details/casestudy-details.png" alt="Banner image")
    
    // Banner-content
    .container
        .row
            .col-md-12.mx-md-3.vm-bg-gray.vm-pxy-3.mt10
                .row
                    .col-md-7.col-lg-8
                        .vm-categ-container
                            span.vm-categ-patch Whitepaper
                            span.vm-categ-patch API Integration
                            span.vm-categ-patch Banking
                        h1.h1.mb-2.mb-md-3 TAB Bank leverages open API’s to digitize the bank.
                        p.vm-article-des Preparing for Digital Platform Implementation
                        //- span.vm-article-published.fnt-md Released on 02 November 2018
                        a.d-inline-block.d-md-none.vm-popup-trigger(data-popup-trigger="two")
                            | Get whitepaper
                            i.icon-arrow-angle-right.icon-right-arrow-angle--suc

                    .col-md-5.col-lg-4
                        include 1.1banner-form.pug