section.vm-article
    .container
        
        .row
            .col-md-7.vm-article__content.pr-lg-0
                
                section#building
                    h4 Building a Foundation for Digital Transformation
                    p In a recent survey, fully 90 percent of insurers stated that they are actively engaged in some stage of digital transformation.  Some carriers have already entirely organized themselves around these tech-focused innovations while others are only just beginning the process.  Some insurers, borne of the digital age, were purpose-built to live on the web from their inception, while other long-established players are rapidly digitizing themselves to compete in this disrupted space.  Regardless of where in this process your organization currently finds itself, there are three central elements that a successful digital transformation requires:
                    h3
                        b “The process of adopting cloud can be expensive and time consuming”
                    
                    h6 Following critical areas:
                    p The process of adopting cloud can be expensive and time consuming. Because cloud will bring major changes to the very way an organization conducts their business, stakeholders will not buy in right away without the right value proposition: use cases for cloud must drive clear economic and strategic value. Business, in a sense, is the first major roadblock to Cloud Organizational pushback and distrust can significantly delay and/or impede cloud adoption. For this reason, IT leaders must assess whether or not they have secured adequate time, resources, and sponsorship from stakeholders across the enterprise before starting cloud adoption
                    
                    h4 Building a Foundation for Digital Transformation
                    p In a recent survey, fully 90 percent of insurers stated that they are actively engaged in some stage of digital transformation.  Some carriers have already entirely organized themselves around these tech-focused innovations while others are only just beginning the process.  Some insurers, borne of the digital age, were purpose-built to live on the web from their inception, while other long-established players are rapidly digitizing themselves to compete in this disrupted space.  Regardless of where in this process your organization currently finds itself, there are three central elements that a successful digital transformation requires:
                
                
                section#people
                    h4 People - Business challenges
                    
                    .media-list
                        img(src="./assets/img/whitepaper-details/blog.png" alt="Blog")
                        ul
                            li Although enterprise leaders are the ultimate decision makers in cloud adoption it is the entire team that will bring cloud to fruition.
                            li Not having a strategy to develop people and the processes in place to communicate, train and manage them can lead to misuse of cloud capabilities and resources.
                
                    p A cloud assessment should thus, among other factors, evaluate insurers' ability to train employees on the skills needed to support the project, implement effective change management, and communicate cloud project activities to the overall organization through the entire cloud journey.

                section#solutions
                    h4 Solutions offered
                    
                    .vm-txt-warpper
                        // Text wrspper
                        .vm-txt-warpper__cnt
                            img.mb-3(src="./assets/img/quote.svg" alt="quote")
                            p Banking industry has too change, let’s see how, join us as we speak about this in detail!
                            span.vm-auth-nm Pratik Dasmohapatra
                        
                        p Though one of the main goals of cloud adoption is simplifying IT infrastructure, insurers will also need to establish processes for governing how the organization will use cloud. A proper assessment should reveal what processes and frameworks the organization will need (eg. infrastructure provision, automation scaling up/down of cloud, etc.) to successfully manage cloud adoption. Without having such frameworks in place insurers may end up poorly managing their cloud.A cloud operating model, or a blueprint to monitor and streamline every change, therefore, is necessary to guide the organization in their adoption and use of cloud technology.
                
                section#technology 
                    h4 Technology - Value delivered
                    p In a recent survey, fully 90 percent of insurers stated that they are actively engaged in some stage of digital transformation.  Some carriers have already entirely organized themselves around these tech-focused innovations while others are only just beginning the process.
                
                section#next 
                    h4 Next steps
                    img(src="./assets/img/case-studies-details/dummy.png" alt="article detail")
                    p Cloud requires careful consideration of the technology landscape of the organization; reaping the full benefits of cloud requires planning, decision making, and setting up relevant policies, technologies, and tools. Therefore, it's crucial to evaluate your existing technology stack and infrastructure to decide which applications need to be re-architected for cloud, how will they be migrated, and what platforms and tools are necessary to support that migration. Knowing this will allow insurers to create a technology roadmap that takes advantage of the existing technology stack, while also accounting for the priorities and business goals.
           
            aside.col-md-5
                include 03snapshot.pug
