.vm-side-sticky(class="vm-popup-modal vm-popup-modal--btm shadow" data-popup-modal="popup-btm")
    span.vm-popup-modal__close.vm-view X
    .vm-side-sticky__content
        h6.vm-side-sticky__heading.d-none.d-md-block Snapshot
        .vm-hidden-data
            h6
                b Industry & Region
            p Financial Services, USA
            
            // Project High
            h6
                b Project Higlights
            
            p Using MuleSoft API technology, TAB worked with ValueMomentum to build an open banking platform that utilizes Open APIs to streamline operations, increase efficiency, expand business relationships, and futureproof the bank's technology investments.
            // Benefits
            
            .hideContent
                h6 Benefits:
                p Core agnostic platform that enables best-of-breed strategy Increased speed and efficiency in development of new applications and services Innovative platform for building an ecosystem of partners to generate new revenue streams

                h6 Technology stack:
                ul
                    li Developer portal: Anytime exchange and API community mangager
                    li Developer tools: Anypoint studio 7.5.0 and MUint 2.2.5
                    li Runtime: Mule runtime 4.3.0 on RTF integration fabric 1.5.25
            
            a(class="show-more-button")  Show More
    
    .d-none.d-md-block.mt-md-4.pt-2
        h6.vm-side-sticky__heading Share case study
        ul.vm-social-list
            li.vm-social-list__item
                a.vm-social-link(href="javascript:void(0);")
                    i.icon-facebook
                    span.vm-social-link__txt.fnt-xs Facebook
            li.vm-social-list__item
                a.vm-social-link(href="javascript:void(0);")
                    i.icon-twitter
                    span.vm-social-link__txt.fnt-xs Twitter
            li.vm-social-list__item
                a.vm-social-link(href="javascript:void(0);")
                    .icon-linkedin
                    span.vm-social-link__txt.fnt-xs Linkedin
            li.vm-social-list__item
                a.vm-social-link(href="javascript:void(0);")
                    i.icon-link
                    span.vm-social-link__txt.fnt-xs Twitter


// Sticky mobile content
.vm-sticky-btm.mt-0
    .vm-sticky-btm__content.mt-0.vm-hide(class="vm-popup-trigger"  data-popup-trigger="popup-btm")
        a.vm-sticky-link.vm-txt-dsplay(href="javascript:void(0);") View Snapshot
            



