section.vm-article
    .container
        .row
            .col-12.scroll-links
                ul.link-wrp-anchor
                    li.link-item
                        a(data-target="building") building
                    li.link-item
                        a(data-target="people") people
                    li.link-item
                        a(data-target="solutions") solutions
                    li.link-item
                        a(data-target="technology") technology
                    li.link-item
                        a(data-target="next") next