section.vm-hero-banner.position-relative
    .vm-overlay
    .container
        .row
            .col-12.vm-hero-banner__content
                .vm-categ-container
                    span.vm-categ-patch Whitepaper
                    span.vm-categ-patch API Integration
                h1.h1
                    span.d-block Commercial Online Banking:
                    | Preparing for Digital Platform Implementation
                span.vm-post-published
                    | Released on 
                    | 02 November 2018