section.section-padding6.pt-0
    .container
        .row
            .col
                h4.hero-heading.mb-4  More Resources
        .row
            .col-md-4
                include cards-mixin.pug
                +resourceCards("./assets/img/resources/resource1.png", "resourcecard", "Blog", "Enterprise cloud security framework: A practical guide to protecting")
            .col-md-4
                +resourceCards("./assets/img/resources/resource2.png", "resourcecard", "Webinar", "Enterprise cloud security framework: A practical guide to protecting")
            .col-md-4
                +resourceCards("./assets/img/resources/resource3.png", "resourcecard", "Customer Service", "Enterprise cloud security framework: A practical guide to protecting")