section.vm-article
    .container
        .row
            .col-md-7.vm-article__content.pr-lg-0
                span The Digital Age is profoundly disrupting virtually every sector of our economy, our culture and our lives.  The insurance industry is no exception. Today’s customers come to expect that their insurers will deliver all the conveniences and efficiencies that these new technologies provide –and the message has been heard loud and clear: the industry is mobilizing.
                p
                    | In a recent survey, fully 90 percent of insurers stated that they are actively engaged in some stage of digital transformation.  Some carriers have already entirely organized themselves around these tech-focused innovations while others are only just beginning the process.
                    a(href="javascript:void(0);")   Some insurers, borne
                    |  of the digital age, were purpose-built to live on the web from their inception, while other long-established players are rapidly digitizing themselves to compete in this disrupted space.  Regardless of where in this process your currently finds itself, there are;
                img(src="./assets/img/whitepaper-details/detail-img.png" alt="Article image")
                h4 Building a Foundation for Digital Transformation
                p In a recent survey, fully 90 percent of insurers stated that they are actively engaged in some stage of digital transformation.  Some carriers have already entirely organized themselves around these tech-focused innovations while others are only just beginning the process.  Some insurers, borne of the digital age, were purpose-built to live on the web from their inception, while other long-established players are rapidly digitizing themselves to compete in this disrupted space.  Regardless of where in this process your organization currently finds itself, there are three central elements that a successful digital transformation requires:
                
                .media-list
                    img(src="./assets/img/whitepaper-details/blog.png" alt="Blog")
                    ul
                        li Building or acquiring new technological capabilities.
                        li Building or acquiring new human capabilities.
                        li Revamping the organization’s processes, governance and culture.
                    
                p In a recent survey, fully 90 percent of insurers stated that they are actively engaged in some stage of digital transformation.  Some carriers have already entirely organized themselves around these tech-focused innovations while others are only just beginning the process.
            
            
            aside.col-md-5
                include 03recommendation.pug
