.vm-side-sticky
    h6.vm-side-sticky__heading Recommendations
    include articles-mix.pug
    +mediaArticle("./assets/img/whitepaper-details/article-1.png", "article image", "Cloud Readiness in Insurance: Choosing the Right Assessment", "August 23, 2020")
    +mediaArticle("./assets/img/whitepaper-details/article-2.png", "article image", "Cloud Readiness in Insurance: Choosing the Right Assessment", "August 23, 2020")
    +mediaArticle("./assets/img/whitepaper-details/article-1.png", "article image", "Cloud Readiness in Insurance: Choosing the Right Assessment", "August 23, 2020")