div(class="vm-popup-modal shadow" data-popup-modal="one")
    span.vm-popup-modal__close X
    form.vm-form-panel.mt10
        .form-group
            label.vm-label(for="InputName") First Name
            input.vm-input.form-control(id="InputName" type="text" placeholder="First Name")
        
        .form-group
            label.vm-label(for="InputCompany") Company
            input.vm-input.form-control(id="InputCompany" type="text" placeholder="Company name")
        
        .form-group
            label.vm-label(for="InputJobtitle") Job Title
            input.vm-input.form-control(type="text" id="InputJobtitle" placeholder="Job title")
        
        .form-group
            label.vm-label(for="InputAddress") E-main Address
            input.vm-input.form-control(type="text" placeholder="E-main Address" id="InputAddress")
            
        button.vm-btn.vm-btn--filed.vm-btn--sm.mt-3(type="submit") Download the Whitepaper
        
