section.vm-article
    .container
        .row
            .col-md-7.vm-article__content.pr-lg-0
                p
                    | In a recent survey, fully 90 percent of insurers stated that they are actively engaged in some stage of digital transformation.  Some carriers have already entirely organized themselves around these tech-focused innovations while others are only just beginning the process.
                    a(href="javascript:void(0);")   Some insurers, borne
                    |  of the digital age, were purpose-built to live on the web from their inception, while other long-established players are rapidly digitizing themselves to compete in this disrupted space.  Regardless of where in this process your currently finds itself, there are;
                p The Digital Age is profoundly disrupting virtually every sector of our economy, our culture and our lives.  The insurance industry is no exception. Today’s customers come to expect that their insurers will deliver all the conveniences and efficiencies that these new technologies provide –and the message has been heard loud and clear: the industry is mobilizing. 
                img(src="./assets/img/whitepaper-details/detail-img.png" alt="Article image")
                h4 Building a Foundation for Digital Transformation
                p In a recent survey, fully 90 percent of insurers stated that they are actively engaged in some stage of digital transformation.  Some carriers have already entirely organized themselves around these tech-focused innovations while others are only just beginning the process.  Some insurers, borne of the digital age, were purpose-built to live on the web from their inception, while other long-established players are rapidly digitizing themselves to compete in this disrupted space.  Regardless of where in this process your organization currently finds itself, there are three central elements that a successful digital transformation requires:
                
                    
                h6 Following critical areas:
                p The process of adopting cloud can be expensive and time consuming. Because cloud will bring major changes to the very way an organization conducts their business, stakeholders will not buy in right away without the right value proposition: use cases for cloud must drive clear economic and strategic value. Business, in a sense, is the first major roadblock to Cloud Organizational pushback and distrust can significantly delay and/or impede cloud adoption. For this reason, IT leaders must assess whether or not they have secured adequate time, resources, and sponsorship from stakeholders across the enterprise before starting cloud adoption
               
                h6 People
                p The process of adopting cloud can be expensive and time consuming. Because cloud will bring major changes to the very way an organization conducts their business, stakeholders will not buy in right away without the right value proposition: use cases for cloud must drive clear economic and strategic value. Business, in a sense, is the first major roadblock to Cloud Organizational pushback and distrust can significantly delay and/or impede cloud adoption. For this reason, IT leaders must assess whether or not they have secured adequate time, resources, and sponsorship from stakeholders across the enterprise before starting cloud adoption
                
                h6 Technology
                p The process of adopting cloud can be expensive and time consuming. Because cloud will bring major changes to the very way an organization conducts their business, stakeholders will not buy in right away without the right value proposition: use cases for cloud must drive clear economic and strategic value. Business, in a sense, is the first major roadblock to Cloud Organizational pushback and distrust can significantly delay and/or impede cloud adoption. For this reason, IT leaders must assess whether or not they have secured adequate time, resources, and sponsorship from stakeholders across the enterprise before starting cloud adoption
                
                h4 Building a Foundation for Digital Transformation
                p In a recent survey, fully 90 percent of insurers stated that they are actively engaged in some stage of digital transformation.  Some carriers have already entirely organized themselves around these tech-focused innovations while others are only just beginning the process.  Some insurers, borne of the digital age, were purpose-built to live on the web from their inception, while other long-established players are rapidly digitizing themselves to compete in this disrupted space.  Regardless of where in this process your organization currently finds itself, there are three central elements that a successful digital transformation requires:
                
                    .media-list
                        img(src="./assets/img/whitepaper-details/blog.png" alt="Blog")
                        ul
                            li Building or acquiring new technological capabilities.
                            li Building or acquiring new human capabilities.
                
                    p A cloud assessment should thus, among other factors, evaluate insurers' ability to train employees on the skills needed to support the project, implement effective change management, and communicate cloud project activities to the overall organization through the entire cloud journey.
           
            aside.col-md-5
                include 03snapshot.pug
