section.section-padding4.pt-0
    .container
        .row
            .col-md-12
                .row.hero-section.mx-0
                    .col-md-7.col-lg-8.pr-md-0
                        h3.sub-heading.mb-md-2 Life & Annuities Insurers
                        p.mb-3 ValueMomentum’s IT services for Life and Annuities carriers are tailored to rapidly roll out products, improve data transparency, digitally engage customers & brokers, and for higher efficiencies.
                        a.vm-hero-link.vm-hero-link--secondary.fnt-md(href="javascript:void(0);") READ MORE
                    .col-md-5.col-lg-4
                        .hero-section__view
                            img.img-fluid(src="./assets/img/whitepaper-details/hero.png" alt="Hero image")