section.vm-video-banner
    .container
        .row
            .col
                h1.h1.mb-4.mb-md-5 Thank you for viewing our on-demand webinar!
                .embed-container
                    iframe(src='https://player.vimeo.com/video/66140585' frameborder='0' webkitallowfullscreen='' mozallowfullscreen='' allowfullscreen='')



section.vm-article.pt-md-5
    .container
        .row
            .col-md-7.vm-article__content.pr-lg-0
                h4 Webinar Overview - Duration 1.5 hours
                p For Pekin Insurance, pursuing an API-based enterprise integration is a key component of their digital transformation. With the goal of creating an integration culture that enables applications to be developed faster, scaled on demand and centrally managed, Pekin leveraged the API tools from MuleSoft and frameworks and advice from their vendor partners to enable their organization for digital success.
            
            aside.col-md-5
                .vm-side-sticky
                    .vm-side-sticky__body
                        ul.vm-social-list
                            li.vm-social-list__item
                                a.vm-social-link(href="javascript:void(0);")
                                    i.icon-facebook
                                    span.vm-social-link__txt.fnt-xs Facebook
                            li.vm-social-list__item
                                a.vm-social-link(href="javascript:void(0);")
                                    i.icon-twitter
                                    span.vm-social-link__txt.fnt-xs Twitter
                            li.vm-social-list__item
                                a.vm-social-link(href="javascript:void(0);")
                                    .icon-linkedin
                                    span.vm-social-link__txt.fnt-xs Linkedin
                            li.vm-social-list__item
                                a.vm-social-link(href="javascript:void(0);")
                                    i.icon-link
                                    span.vm-social-link__txt.fnt-xs Twitter