section.vm-article.pt-md-5
    .container
        .row
            .col-md-7.vm-article__content.pr-lg-0
                
                //- section
                //-     h4 Building a Foundation for Digital Transformation
                //-     p In a recent survey, fully 90 percent of insurers stated that they are actively engaged in some stage of digital transformation.  Some carriers have already entirely organized themselves around these tech-focused innovations while others are only just beginning the process.  Some insurers, borne of the digital age, were purpose-built to live on the web from their inception, while other long-established players are rapidly digitizing themselves to compete in this disrupted space.  Regardless of where in this process your organization currently finds itself, there are three central elements that a successful digital transformation requires:
                //-     h3
                //-         b “The process of adopting cloud can be expensive and time consuming”
                    
                //-     h6 Following critical areas:
                //-     p The process of adopting cloud can be expensive and time consuming. Because cloud will bring major changes to the very way an organization conducts their business, stakeholders will not buy in right away without the right value proposition: use cases for cloud must drive clear economic and strategic value. Business, in a sense, is the first major roadblock to Cloud Organizational pushback and distrust can significantly delay and/or impede cloud adoption. For this reason, IT leaders must assess whether or not they have secured adequate time, resources, and sponsorship from stakeholders across the enterprise before starting cloud adoption
                    
                //-     h4 Building a Foundation for Digital Transformation
                //-     p In a recent survey, fully 90 percent of insurers stated that they are actively engaged in some stage of digital transformation.  Some carriers have already entirely organized themselves around these tech-focused innovations while others are only just beginning the process.  Some insurers, borne of the digital age, were purpose-built to live on the web from their inception, while other long-established players are rapidly digitizing themselves to compete in this disrupted space.  Regardless of where in this process your organization currently finds itself, there are three central elements that a successful digital transformation requires:
                
                
                //- section
                //-     h4 People - Business challenges
                    
                //-     .media-list
                //-         img(src="./assets/img/whitepaper-details/blog.png" alt="Blog")
                //-         ul
                //-             li Although enterprise leaders are the ultimate decision makers in cloud adoption it is the entire team that will bring cloud to fruition.
                //-             li Not having a strategy to develop people and the processes in place to communicate, train and manage them can lead to misuse of cloud capabilities and resources.
                
                //-     p A cloud assessment should thus, among other factors, evaluate insurers' ability to train employees on the skills needed to support the project, implement effective change management, and communicate cloud project activities to the overall organization through the entire cloud journey.

                section
                    h4 Webinar Overview - Duration 1.5 hours
                    
                    .vm-txt-warpper
                        // Text wrspper
                        .vm-txt-warpper__cnt
                            img.mb-3(src="./assets/img/quote.svg" alt="quote")
                            p Banking industry has too change, let’s see how, join us as we speak about this in detail!
                            span.vm-auth-nm Pratik Dasmohapatra
                        
                        p For Pekin Insurance, pursuing an API-based enterprise integration is a key component of their digital transformation. With the goal of creating an integration culture that enables applications to be developed faster, scaled on demand and centrally managed, Pekin leveraged the API tools from MuleSoft and frameworks and advice from their vendor partners to enable their organization for digital success.

                        p Join us in this webinar featuring Pekin Insurance CIO Subhasish Mukherjee, Novarica's VP of Research and Consulting Martin Higgins, and MuleSoft's Regional Sales Director Nate Riddle to learn

                h4 What you’ll learn from the speakers
                ul
                    li Although enterprise leaders are the ultimate decision makers in cloud adoption it is the entire team that will bring cloud to fruition.
                    li Not having a strategy to develop people and the processes in place to communicate, train and manage them can lead to misuse of cloud capabilities and resources.
                    li Not having a strategy to develop people and the processes in place to communicate, train and manage them can lead to misuse of cloud capabilities and resources.
                
                p The Digital Age is profoundly disrupting virtually every sector of our economy, our culture and our lives.  The insurance industry is no exception.
            
            aside.col-md-5
                include 03featured-speakers.pug
        

        .row.pt-5
            include 04related-webinar.pug
