section.pb-4.pb-md-5
    .container
        .row
            .col
                h4.hero-heading.mb-4.pb-md-2  Related Webinars
        
        .row
            .col-md-4.mb-3.mb-md-0
                include speakers-mix.pug
                +webinarCards("./assets/img/white-papers-listing/listing3.png", "Thumbnail image", "Transformation", "Case study", "Preparing for Digital Platform Implementation!")
                
            .col-md-4.mb-3.mb-md-0
                +webinarCards("./assets/img/white-papers-listing/listing2.png", "Thumbnail image", "Transformation", "Case study", "Preparing for Digital Platform Implementation!")
                
            .col-md-4
                +webinarCards("./assets/img/white-papers-listing/listing4.png", "Thumbnail image", "Transformation", "Case study", "Preparing for Digital Platform Implementation!")
                        
