section.vm-hero-banner.vm-hero-banner--blog.position-relative
    .vm-overlay
    .container
        .row
            .col-lg-9.vm-hero-banner__content
                h6.vm-16.mb-2.mb-md-4 New Blog⚡
                .vm-categ-container
                    span.vm-categ-patch Digital & cloud
                h1.h1 3 steps to build your insurance ecosystem Here’s how create them;
                span.vm-16.py-2 Written by Value momentum
                