section.section-padding6.pt-0
    .container
        
        .row
            .col-12
                .vm-filter.mb-3.mb-md-0.pt-3.pt-md-5
                    .vm-filter__header
                        h2.vm-filter__heading.fnt-bold.d-flex
                            span.mr-2 Filter
                            .icon-wrp.position-relative
                                img(src="./assets/img/case-studies/filter-menu.svg" alt="Menu Icon")
                                span.dot-red
                    .filterizr-control
                        ul.vm-filter__body.filterizr-filter.multifilter
                            li.filter-tabs.mt-3.active(data-multifilter="all") ALL
                            li.filter-tabs.mt-3(data-multifilter="1") Cloud
                            li.filter-tabs.mt-3(data-multifilter="2") Banking
                            li.filter-tabs.mt-3(data-multifilter="3") Whitepaper
                            li.filter-tabs.mt-3(data-multifilter="4") API Integration
                            li.filter-tabs.mt-3(data-multifilter="2") Banking
                            li.filter-tabs.mt-3(data-multifilter="3") Whitepaper
                            li.filter-tabs.mt-3(data-multifilter="4") API Integration
                            .mt-3.extra-content-link
                              img(src="./assets/icons/touch-icons/drp-arrow.svg", alt="")

                        ul.col-12.extra-content-wrp.filterizr-filter.multifilter
                            li.filter-tabs.mt-2(data-multifilter="1") Cloud
                            li.filter-tabs.mt-2(data-multifilter="2") Banking
                            li.filter-tabs.mt-2(data-multifilter="3") Whitepaper
                            li.filter-tabs.mt-2(data-multifilter="4") API Integration
                            li.filter-tabs.mt-2(data-multifilter="2") Banking
                
        .row.pt-md-5.vm-show-cnt
            
            .filtr-container
                include 03filter-cards.pug

        