@font-face {
  font-family: "muli";
  src: url("../assets/fonts/muli/muli.eot");
  src: url("../assets/fonts/muli/muli.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/muli/muli.woff") format("woff"),
    url("../assets/fonts/muli/muli.ttf") format("truetype"),
    url("../assets/fonts/muli/muli.svg#Muli") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "muli-Bold";
  src: url("../assets/fonts/muli-bold/muli-Bold.eot");
  src: url("../assets/fonts/muli-bold/muli-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/muli-bold/muli-Bold.woff") format("woff"),
    url("../assets/fonts/muli-bold/muli-Bold.ttf") format("truetype"),
    url("../assets/fonts/muli-bold/muli-Bold.svg#muli-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "muli-SemiBold";
  src: url("../assets/fonts/muli-semibold/muli-SemiBold.eot");
  src: url("../assets/fonts/muli-semibold/muli-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/muli-semibold/muli-SemiBold.woff") format("woff"),
    url("../assets/fonts/muli-semibold/muli-SemiBold.ttf") format("truetype"),
    url("../assets/fonts/muli-semibold/muli-SemiBold.svg#muli-SemiBold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

// Adamina

@font-face {
  font-family: "adamina-regular";
  src: url("../assets/fonts/adamina/adamina-regular.eot");
  src: url("../assets/fonts/adamina/adamina-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/adamina/adamina-regular.woff") format("woff"),
    url("../assets/fonts/adamina/adamina-regular.ttf") format("truetype"),
    url("../assets/fonts/adamina/adamina-regular.svg#adamina-regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
