/*
Color Codes
*/
// $primary-color: #07a7f7;

$primary: #000000;
$secondary: #0a99b2;

$danger: #ed3337;
$tag-clr: #a19ae5;
$link: #0071ff;
$ed: #edb44f;
$lg-green: #8cd2b5;
$link-lt: #74c0e3;
$lt-gray: #f0f0f0;
$f7: #f7f7f7;
$w: #ffffff;

$card-des: #828282;

/*
  Media Query Breakpoints
*/

$xs: 320px;
$sm: 567px;
$smd: 667px;
$tab: 767px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
$hd: 1900px;
$desktop-1024: 1024px;
$desktop-1366: 1366px;

/*
 Media Query Breakpoints end
*/
