section.vm-hero-banner.vm-hero-banner--webinar.position-relative
    .vm-overlay
    .container
        .row
            .col-lg-9.vm-hero-banner__content
                .vm-categ-container
                    span.vm-categ-patch API Integration
                h1.h1 API enablement: Tips, tools and best practices to get you there:
                span.vm-publish-date.py-2 August 19, 11:30 AM, IST +5:30
                a.vm-hero-link.fnt-sm.d-flex.align-items-center(href="javascript:void(0);")
                    | Register for webinar
                    span.vm-circle.flex-center.ml-3
                        img(src="./assets/img/white-papers-listing/arrow.svg" alt="Arrow")