section.pb-md-5
    .container
        .row
            .col-md-8
                h1.h1.mb-md-5 Case studies
        .row
            .col-md-6
                .vm-thumbnail.vm-thumbnail--lg.mb-md-0.pt-0
                    .vm-thumbnail__content
                        a(href="javascript:void(0);").vm-thumbnail__view
                            img.img546x602.img-fit(src="./assets/img/case-studies/case-study1.png")
                        .vm-overlay
                        .vm-cardimg-body.vm-cardimg-body--space
                            h5.vm-thumbnail__heading.hero-heading.mb-3 TAB Bank leverages open API’s to digitize the bank. Digital Platform Implementation!
                            a.vm-hero-link.fnt-sm(href="javascript:void(0);") View Case Study
                    
                    // Hover-state data
                    .vm-hover-details
                        .vm-hover-cnt
                            //Categorey tags
                            .vm-categ-container
                                span.vm-categ-patch API Integration
                                span.vm-categ-patch Cloud
                                span.vm-categ-patch Banking
                            // content
                            h5.hero-heading.mb-3 TAB Bank leverages open API’s to digitize the bank.
                            p.fnt-md.mb-3 ValueMomentum’s IT services for Life and Annuities carriers are tailored to rapidly roll out products;
                            a.vm-hero-link.fnt-sm(href="javascript:void(0);") View Case Study
            
            
            .col-md-6
                .vm-thumbnail.vm-thumbnail--lg.mb-md-0.pt-0
                    .vm-thumbnail__content
                        a(href="javascript:void(0);").vm-thumbnail__view
                            img.img546x602.img-fit(src="./assets/img/case-studies/case-study2.png")
                        .vm-overlay
                        .vm-cardimg-body.vm-cardimg-body--space
                            h5.vm-thumbnail__heading.hero-heading.mb-3 TAB Bank leverages open API’s to digitize the bank.
                            a.vm-hero-link.fnt-sm(href="javascript:void(0);") View Case Study

                    // Hover-state data
                    .vm-hover-details
                        .vm-hover-cnt
                            //Categorey tags
                            .vm-categ-container
                                span.vm-categ-patch API Integration
                                span.vm-categ-patch Cloud
                                span.vm-categ-patch Banking
                            // content
                            h5.hero-heading.mb-3 TAB Bank leverages open API’s to digitize the bank.
                            p.fnt-md.mb-3 ValueMomentum’s IT services for Life and Annuities carriers are tailored to rapidly roll out products;
                            a.vm-hero-link.fnt-sm(href="javascript:void(0);") View Case Study