section.section-padding4
    .container
        .row
            .col-12
                h4.hero-heading.mb-4.pb-md-3 Upcoming Webinars
        
        .row
            .col-md-4
                // future cards
                include future-card-mix.pug
                +futureCards("Digital & Cloud", "Preparing for Digital Platform", "August 19, 11:30 AM, IST +5:30")
            .col-md-4
                +futureCards("Transformation", "API enablement: Tips, tools and best practices to get you started!", "September, 12:30 PM, IST +5:30")
