.col-md-6.col-lg-4.content.mb3.pt-0.filtr-item(data-category='2' data-title='128 Web - HTML Website Template')
    include filter-cardsmix.pug
    +filterCards("Case study", "API Integration", "Preparing for Digital Platform Implementation!", "./assets/img/white-papers-listing/listing2.png", "Thumbnail image")

.col-md-6.col-lg-4.content.mb3.pt-0.filtr-item(data-category='3' data-title='128 Web - HTML Website Template')
    +filterCards("Case study", "API Integration", "Preparing for Digital Platform Implementation! Preparing Preparing", "./assets/img/white-papers-listing/listing3.png", "Thumbnail image")

.col-md-6.col-lg-4.content.mb3.pt-0.filtr-item(data-category='4' data-title='128 Web - HTML Website Template')
    +filterCards("Case study", "API Integration", "Preparing for Digital Platform Implementation! Preparing Preparing", "./assets/img/white-papers-listing/listing4.png", "Thumbnail image")

.col-md-6.col-lg-4.content.mb3.pt-0.filtr-item(data-category='1' data-title='128 Web - HTML Website Template')
    +filterCards("Case study", "API Integration", "Preparing for Digital Platform Implementation! Preparing Preparing", "./assets/img/white-papers-listing/listing1.png", "Thumbnail image")

.col-md-6.col-lg-4.content.mb3.pt-0.filtr-item(data-category='1' data-title='128 Web - HTML Website Template')
    +filterCards("Case study", "API Integration", "Preparing for Digital Platform Implementation! Preparing Preparing", "./assets/img/white-papers-listing/listing2.png", "Thumbnail image")

.col-md-6.col-lg-4.content.mb3.pt-0.filtr-item(data-category='2' data-title='128 Web - HTML Website Template')
    +filterCards("Case study", "API Integration", "Preparing for Digital Platform Implementation! Preparing Preparing", "./assets/img/white-papers-listing/listing4.png", "Thumbnail image")

.col-md-6.col-lg-4.content.mb3.pt-0.filtr-item(data-category='2' data-title='128 Web - HTML Website Template')
    +filterCards("Case study", "API Integration", "Preparing for Digital Platform Implementation! Preparing Preparing", "./assets/img/white-papers-listing/listing3.png", "Thumbnail image")

.col-md-6.col-lg-4.content.mb3.pt-0.filtr-item(data-category='3' data-title='128 Web - HTML Website Template')
    +filterCards("Case study", "API Integration", "Preparing for Digital Platform Implementation! Preparing Preparing", "./assets/img/white-papers-listing/listing2.png", "Thumbnail image")

.col-md-6.col-lg-4.content.mb3.pt-0.filtr-item(data-category='3' data-title='128 Web - HTML Website Template')
    +filterCards("Case study", "API Integration", "Preparing for Digital Platform Implementation! Preparing Preparing", "./assets/img/white-papers-listing/listing1.png", "Thumbnail image")